.select {
    position: relative;
    margin-left: 10px;
    &__value {
        width: 200px;
        padding: 10px;
        font-size: 18px;
        border-radius: 6px;
        border: 1px solid #f0aa13;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            border: 1px solid blue;
        }
        &-arrow {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            transition: all 0.4s;
            transform: rotate(180deg);
        }
        &_active {
            border: 1px solid blue;
            .select__value-arrow {
                transform: rotate(0);
            }
        }
    }
    &__drop {
        position: absolute;
        z-index: 20;
        padding: 4px 0;
        left: 0;
        top: calc(100% + 6px);
        width: 200px;
        font-size: 18px;
        border-radius: 6px;
        border: 1px solid #f0aa13;
        background: #fff;
        &-item {
            padding: 10px;
            cursor: pointer;
            &:hover, &_active {
                background: #eeeeee;
            }
        }
    }
}

@media (max-width: 767px) {
    .select {
        &__value {
            width: 180px;
            padding: 6px;
            font-size: 16px;
        }
        &__drop {
            width: 180px;
            font-size: 16px;
            &-item {
                padding: 6px;
            }
        }
    }
}

@media (max-width: 575px) {
    .select {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
        &__value {
            width: 180px;
            padding: 6px;
            font-size: 16px;
            &-arrow {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                transition: all 0.4s;
                transform: rotate(180deg);
            }
            &_active {
                border: 1px solid blue;
                .select__value-arrow {
                    transform: rotate(0);
                }
            }
        }
        &__drop {
            left: calc(100% - 180px);
        }
    }
}